/* src/components/Blog.css */
#blog {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
  }
  
  .blog-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .blog-content article {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .blog-content article h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blog-content article p {
    font-size: 16px;
    line-height: 1.6;
  }
  