/* src/styles/Footer.css */
footer {
  background-color: #2A3E52;
  color: #ffffff;
  padding: 0px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quick-links,
.social-media,
.contact-info {
  width: 30%;
  margin-bottom: 20px;
}

.quick-links h3,
.social-media h3,
.contact-info h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.quick-links ul,
.social-media ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li,
.social-media ul li {
  margin-bottom: 10px;
}

.quick-links ul li a,
.social-media ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.quick-links ul li a:hover,
.social-media ul li a:hover {
  color: #3c5568;
}

.social-media ul li a {
  font-size: 24px;
}

.contact-info p {
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #3c5568;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .quick-links,
  .social-media,
  .contact-info {
    width: 100%;
    text-align: center;
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 30%;
  padding: 30px;
}

.contact-info > div {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.contact-info p {
  margin: 0;
}
